@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

.numbercard {
width: 250px;
display: flex;
flex-direction: column;
padding: 10px; 
}
.numbercard .number {
    font-size: 45px;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.55);

}
.numbercard .title {
    font-size: 18px;
    font-weight: bolder;
color: white;
margin-bottom: 10px;
}
.numbercard p {
color: rgba(255, 255, 255, 0.458);
font-size: 13px;
}
/* responsive  */
/* 1 */
@media screen and (max-width: 768px) {
    .numbercard {
        width: 100%;
        /* padding-left: 0px; */
        margin-left: -30px;
        }
}
 
 /* 2 */
 @media screen and (min-width: 768px) and (max-width: 992px) {
    .numbercard p {
width: 170px;
        }
 }     
 /* 3 */
 @media screen and (min-width: 993px) and (max-width: 1200px) {
    .numbercard {
        width: 180px;
        }
 }
 /* 4 */
 @media screen and (min-width: 1201px) {
 }